@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["BrandName"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/admin.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    </environment>
    <style>
    </style>
    @RenderSection("styles", required: false)
</head>
<body>
    @*@await Component.InvokeAsync("Navigation")*@
    <div class="wrapper">
        <header role="banner">
            <nav class="container-fluid">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">CMS</a></li>
                    <li><a asp-controller="Pages" asp-action="Index">Pages</a></li>
                    <li><a asp-controller="Templates" asp-action="Index">Templates</a></li>
                    <li><a asp-controller="UrlRoutes" asp-action="Index">Urls</a></li>
                    <li><a asp-controller="Widgets" asp-action="Index">Widgets</a></li>
                    <li><a asp-controller="Resources" asp-action="Index">Resources</a></li>
                    <li><a asp-controller="Settings" asp-action="Index">Settings</a></li>
                </ul>
            </nav>
        </header>
        <main class="container-fluid">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container-fluid">
            <span>&copy; @DateTime.Now.Year - AgileLabs Content Manager System</span>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
        <script src="~/js/ajaxformsubmitfilter.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
